@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Helvetica', 'Arial', sans-serif;
}

/* Leaflet styles */
.leaflet-container {
  width: 100%;
  height: 100%;
}
